/build
.vscode
.vs
HomeWork-1/out
CMakeSettings.json
HomeWork-3/file1.txt
.gitignore
HomeWork-3/file2.txt
HomeWork-3/file2 test.txt
HomeWork-3/main.exe
HomeWork-3/main2
HomeWork-3/paths.txt
HomeWork-3/test.dat
HomeWork-3/train.dat
